In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independant=dataset[['age','bmi','children','sex_male','smoker_yes']]
independant

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [6]:
dependant=dataset[["charges"]]
dependant

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independant,dependant,test_size=0.30,random_state=0)

In [9]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {'criterion':['mse','mae','friedman_mse'],
               'max_features': ['auto','sqrt','log2'],
               'splitter':['best','random']}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose=3, n_jobs=-1)



grid.fit(X_train,y_train)

C:\Users\LENOVO\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:   33.9s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:   36.0s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [10]:
re=grid.cv_results_

In [11]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.171874,0.012759,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.561188,0.683608,0.618455,0.621084,0.050012,10
1,0.015625,0.022097,0.005209,0.007367,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.634753,0.660216,0.648653,0.647874,0.010410,6
2,0.005209,0.007366,0.005208,0.007366,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.411693,0.568900,0.578759,0.519784,0.076538,16
3,0.000000,0.000000,0.000000,0.000000,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.502609,0.652903,0.660728,0.605413,0.072764,11
4,0.000000,0.000000,0.005208,0.007366,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.631743,0.693297,0.689724,0.671588,0.028213,1
5,0.015634,0.000010,0.000000,0.000000,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.554231,0.643080,0.602144,0.599818,0.036310,12
6,0.052082,0.007368,0.010418,0.007367,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.633179,0.620616,0.691034,0.648276,0.030666,5
7,0.020835,0.007365,0.010418,0.007367,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.632436,0.689359,0.691816,0.671204,0.027431,2
8,0.026025,0.007389,0.010416,0.014730,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.435872,0.661858,0.628042,0.575257,0.099523,14
9,0.020833,0.007365,0.000000,0.000000,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.621788,0.621758,0.650648,0.631398,0.013612,8
10,0.021843,0.008790,0.000000,0.000000,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.512371,0.596734,0.601354,0.570153,0.040902,15
11,0.020835,0.007365,0.000000,0.000000,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.619481,0.345041,0.583340,0.515954,0.121751,18
12,0.005210,0.007368,0.005208,0.007365,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.553906,0.698145,0.632778,0.628276,0.058971,9
13,0.005229,0.007395,0.000000,0.000000,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.625448,0.669572,0.688225,0.661082,0.026322,3
14,0.005208,0.007365,0.000000,0.000000,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.557558,0.689975,0.654485,0.634006,0.055965,7
15,0.000000,0.000000,0.005209,0.007366,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.539828,0.404215,0.609925,0.517989,0.085389,17
16,0.000000,0.000000,0.005215,0.007375,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.656491,0.634054,0.673324,0.654623,0.016086,4
17,0.010422,0.007369,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.555938,0.644712,0.563241,0.587964,0.040238,13

In [14]:
age=int(input("Age: "))
bmi=float(input("Bmi: "))
children=int(input("Children: "))
sex=int(input("Sex: "))
smoker=int(input("Smoker: "))

Age: 4
Bmi: 56
Children: 0
Sex: 1
Smoker: 1

In [16]:
Future_Prediction=grid.predict([[age,bmi,children,sex,smoker]])
Future_Prediction

array([39722.7462])